@import "src/variables";

.header {
  height: 60px;
  padding: 10px 80px;
  display: grid;
  grid-template-columns: 200px auto 30px 200px;
  grid-gap: 50px;

  background-color: $base-color;


  &__text-logo {
    height: 30px;
  }

  &__search {
    height: 30px;
    display: grid;
    grid-template-columns: auto 45px;

    &__input {
      height: 30px;
      border: 0;
      padding-left: 15px;

      border-radius: 15px 0 0 15px;
    }

    &__button {
      background-color: white;
      height: 32px;
      padding: 1px 15px 1px 1px;

      border: 0;
      border-radius: 0 15px 15px 0;

      &__image {
        height: 18px;
        margin: auto;
      }
    }
  }

  &__shopping-cart {
    background-color: transparent;
    border: 0;
    height: 30px;
    padding: 0;
    &__image {
      height: 20px;
    }
  }

  &__profile {
    height: 40px;
    display: grid;
    grid-template-columns: auto 40px;
    grid-column-gap: 10px;

    &__name {
      color: white;
      font-weight: bold;
      text-align: right;
    }

    &__dropdown {
      grid-row: 2;
      text-align: right;
    }

    &__image {
      grid-column: 2;
      grid-row: 1/3;
      height: 40px;
      border-radius: 20px;
    }
  }
}